@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
  --background: #000000;
  --heading: #ffffff;
  --body: #b58064;
  --font-family: 'Quicksand', serif; /* Asegúrate de que el nombre de la fuente coincida con el importado */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--body);
  font-family: var(--font-family);
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading);
  letter-spacing: 4px;
  margin-left: 10px;
}

a {
  text-decoration: none;
  transition: 0.4s;
}

a:hover {
  color: var(--body);
}

ul {
  list-style-type: none;
}

main {
  height: calc(100vh - 180px - 80px);
  scroll-behavior: smooth;
}

section {
  min-height: 100%;
}
